@font-face {
    font-family: 'kanit';
    src: url('font/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('font/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('font/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('font/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('font/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('font/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    color: #fff;
    background-color: #000;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

input {
    outline: none;
}


/* =================== BASE =================== */

.container {
    max-width: 1080px;
    margin: 0 auto;
}
.text-info {
    padding: 1rem 0;
    font-size: 18px;
    color: #f6f6f6;
}

.btn-hover:hover {
    background-color: #b30000;
}

.font-h1 {
    font-family: 'poppinsbold';
    font-size: 2.5rem;
}
/* ----------- Header ----------- */
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    border-bottom: 8px solid #303030;
    z-index: 111;
}

.header_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.navbar_logo img {
    width: 200px;
}

.navbar_menu a {
    margin-left: .5rem;
    padding: .5rem 1rem;
    border-radius: 4px;
    background-color: #db0001;
    color: #fff;
}
.navbar_menu .language_btn {
    border: 1px solid #fff;
    background: transparent;
}

.navbar_menu .language_btn img {
    width: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.header_content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 3rem;
    color: #fff;
}

.header_content h1 {
    font-size: 3rem;
    line-height: 60px;
    font-family: 'poppinsbold';
    font-weight: bold;
    text-align: center;
}

.label {
    position: absolute;
    z-index: 1;
    left: 1rem;
    right: 1rem;
    top: 1rem;
}

.header_form input[type=email] {
    width: 400px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
.header_form input[type=submit] {
    font-size: 16px;
    border: none;
    border-radius: 3px;
    padding: 1.2rem 1rem;
    background-color: #db0001;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
}

.header_form input[type=submit]:hover {
    background-color: #b30000;
}

/* ----------- Feature_1 ----------- */
.feature_1 {
    width: 100%;
    border-bottom: 8px solid #303030;
    padding: 3rem 0;
}

.feature1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.feature1_img img {
    width: 100%;
}


/* ----------- Feature_1 ----------- */
.feature_2 {
    width: 100%;
    border-bottom: 8px solid #303030;
    padding: 3rem 0;
}

.feature2_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.feature2_img img {
    width: 100%;
}

/* ----------- Feature_3 ----------- */
.feature_3 {
    width: 100%;
    border-bottom: 8px solid #303030;
    padding: 3rem 0;
}

.feature3_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature3_img img {
    width: 100%;
}

/* ----------- Feature_4 ----------- */
.feature_4 {
    width: 100%;
    border-bottom: 8px solid #303030;
    padding: 3rem 0;
}

.feature4_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.feature4_img img {
    width: 100%;
}